/* ---- @deprecated Joomla 2.5 && Joomla 3.1 ---- */
/* [TODO] change this to new panel */
.cpanel {
	&-block {
		display: inline-block;
		width: 100%;
	}

	div.icon {
		text-align: center;
		margin-right: 15px;
		margin-bottom: 15px;
		float: left;

		a {
			background-color: #fff;
			background-position: -30px;
			display: block;
			float: left;
			height: 97px;
			width: 108px;
			color: #565656;
			vertical-align: middle;
			text-decoration: none;
			border: 1px solid #CCC;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-webkit-transition-property:
				background-position,
				-webkit-border-bottom-left-radius,
				-webkit-box-shadow;
			-moz-transition-property:
				background-position,
				-moz-border-radius-bottomleft,
				-moz-box-shadow;
			-webkit-transition-duration: 0.8s;
			-moz-transition-duration: 0.8s;

			&:hover, &:focus, &:active {
				background-position: 0;
				-webkit-border-bottom-left-radius: 50% 20px;
				-moz-border-radius-bottomleft: 50% 20px;
				border-bottom-left-radius: 50% 20px;
				-webkit-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
				-moz-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
				box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
				position: relative;
				z-index: 10;
			}
		}

		span {
			display: block;
			text-align: center;
		}

		img {
			border: 0 none;
			height: auto;
			max-width: 100%;
			vertical-align: middle;
			margin: 0 auto;
			padding: 10px 0;
		}
	}
}