<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
			name="fields"
			label="COM_FIELDSANDFILTERS_FIELDS_LBL"
			description="COM_FIELDSANDFILTERS_FIELDS_DESC"
			>
		<field
				name="site_fields_spacer"
				type="spacer"
				label="COM_FIELDSANDFILTERS_SITE_FIELDS_SPACER_LBL"
				description="COM_FIELDSANDFILTERS_SITE_FIELDS_SPACER_DESC"
				/>
		<field
				name="use_static_fields"
				type="radio"
				size="1"
				class="btn-group btn-group-yesno"
				label="COM_FIELDSANDFILTERS_USE_STATIC_FIELDS_LBL"
				description="COM_FIELDSANDFILTERS_USE_STATIC_FIELDS_DESC"
				default="1"
				>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
				name="admin_fields_spacer"
				type="spacer"
				label="COM_FIELDSANDFILTERS_ADMIN_FIELDS_SPACER_LBL"
				description="COM_FIELDSANDFILTERS_ADMIN_FIELDS_SPACER_DESC"
				/>
		<field
				name="show_static_fields"
				type="radio"
				class="btn-group btn-group-yesno"
				label="COM_FIELDSANDFILTERS_SHOW_STATIC_FIELDS_LBL"
				description="COM_FIELDSANDFILTERS_SHOW_STATIC_FIELDS_DESC"
				default="1"
				>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset
			name="filters"
			label="COM_FIELDSANDFILTERS_FILTERS_LBL"
			description="COM_FIELDSANDFILTERS_FILTERS_DESC"
			>
		<field
				name="site_filters_spacer"
				type="spacer"
				label="COM_FIELDSANDFILTERS_SITE_FILTERS_SPACER_LBL"
				description="COM_FIELDSANDFILTERS_SITE_FILTERS_SPACER_DESC"
				/>
		<field
				name="selector_body_filters"
				type="text"
				default="#content"
				label="COM_FIELDSANDFILTERS_SELECTOR_BODY_FILTERS_LBL"
				description="COM_FIELDSANDFILTERS_SELECTOR_BODY_FILTERS_DESC"
				/>
		<field
				name="function_done_filters"
				type="textarea"
				class="inputbox"
				rows="3"
				cols="30"
				default=""
				label="COM_FIELDSANDFILTERS_FUNCTION_DONE_FILTERS_LBL"
				description="COM_FIELDSANDFILTERS_FUNCTION_DONE_FILTERS_DESC"
				/>
		<field
				name="use_allextensions_filters"
				type="radio"
				class="btn-group btn-group-yesno"
				label="COM_FIELDSANDFILTERS_USE_ALLEXTENSIONS_FILTERS_LBL"
				description="COM_FIELDSANDFILTERS_USE_ALLEXTENSIONS_FILTERS_DESC"
				default="1"
				>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
				name="comparison_between_filters"
				type="list"
				label="COM_FIELDSANDFILTERS_COMPARISON_BETWEEN_FILTERS_LBL"
				description="COM_FIELDSANDFILTERS_COMPARISON_BETWEEN_FILTERS_DESC"
				default="OR"
				>
			<option value="OR">COM_FIELDSANDFILTERS_OR</option>
			<option value="AND">COM_FIELDSANDFILTERS_AND</option>
		</field>
		<field
				name="comparison_between_values_filters"
				type="list"
				label="COM_FIELDSANDFILTERS_COMPARISON_BETWEEN_VALUES_FILTERS_LBL"
				description="COM_FIELDSANDFILTERS_COMPARISON_BETWEEN_VALUES_FILTERS_DESC"
				default="OR"
				>
			<option value="OR">COM_FIELDSANDFILTERS_OR</option>
			<option value="AND">COM_FIELDSANDFILTERS_AND</option>
		</field>
        <field
                name="random_type_filters"
                type="list"
                label="COM_FIELDSANDFILTERS_RANDOM_TYPE_FILTERS_LBL"
                description="COM_FIELDSANDFILTERS_RANDOM_TYPE_FILTERS_DESC"
                default="all"
                >
            <option value="all">COM_FIELDSANDFILTERS_FILTERS_RANDOM_TYPE_ALL</option>
            <option value="selected">COM_FIELDSANDFILTERS_FILTERS_RANDOM_SELECTED</option>
        </field>
        <field
                name="random_items_limit_filters"
                type="text"
                label="COM_FIELDSANDFILTERS_RANDOM_ITEMS_LIMIT_FILTERS_LBL"
                description="COM_FIELDSANDFILTERS_RANDOM_ITEMS_LIMIT_FILTERS_DESC"
                default="0"
                filter="int"
                />
		<field
				name="loading_background_filters"
				type="filelist"
				class="inputbox"
				label="COM_FIELDSANDFILTERS_LOADING_BACKGROUND_FILTERS_LBL"
				description="COM_FIELDSANDFILTERS_LOADING_BACKGROUND_FILTERS_DESC"
				stripext="1"
				directory="media/fieldsandfilters/filters/css/"
				default="loading-balls"
				hide_default="1"
				filter="^loading\-.*\.css$"
				size="10"
				>
		</field>
		<field
				name="site_filters_spacer_hash_navigation"
				type="spacer"
				label="COM_FIELDSANDFILTERS_SITE_FILTERS_SPACER_HASH_NAVIGATION_LBL"
				description="COM_FIELDSANDFILTERS_SITE_FILTERS_SPACER_HASH_NAVIGATION_DESC"
				/>
		<field
				name="hash_navigation_enabled"
				type="radio"
				class="btn-group btn-group-yesno"
				label="COM_FIELDSANDFILTERS_HASH_NAVIGATION_ENABLE_LBL"
				description="COM_FIELDSANDFILTERS_HASH_NAVIGATION_ENABLE_DESC"
				default="0"
				>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
				name="hash_navigation_prefix"
				type="text"
				default="#!"
				label="COM_FIELDSANDFILTERS_HASH_NAVIGATION_PREFIX_LBL"
				description="COM_FIELDSANDFILTERS_HASH_NAVIGATION_PREFIX_DESC"
				/>
	</fieldset>
	<fieldset name="other">
		<field
				name="load_noconflict_javascript"
				type="radio"
				class="btn-group btn-group-yesno"
				label="COM_FIELDSANDFILTERS_LOAD_NOCONFLICT_JAVASCRIPT_LBL"
				description="COM_FIELDSANDFILTERS_LOAD_NOCONFLICT_JAVASCRIPT_DESC"
				default="1"
				filter="int"
				>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
				name="load_jquery_javascript"
				type="radio"
				class="btn-group btn-group-yesno"
				label="COM_FIELDSANDFILTERS_LOAD_JQUERY_JAVASCRIPT_LBL"
				description="COM_FIELDSANDFILTERS_LOAD_JQUERY_JAVASCRIPT_DESC"
				default="1"
				filter="int"
				>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
				name="use_old_structure"
				type="radio"
				class="btn-group btn-group-yesno"
				label="COM_FIELDSANDFILTERS_USE_OLD_STRUCTURE_LBL"
				description="COM_FIELDSANDFILTERS_USE_OLD_STRUCTURE_DESC"
				default="0"
				filter="int"
				>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>

	<fieldset
			name="permissions"
			label="JCONFIG_PERMISSIONS_LABEL"
			description="JCONFIG_PERMISSIONS_DESC"
			>

		<field
				name="rules"
				type="rules"
				component="com_fieldsandfilters"
				class="inputbox"
				filter="rules"
				validate="rules"
				label="JCONFIG_PERMISSIONS_LBL"
				section="component"
				/>
	</fieldset>

</config>